body {
    display: flex;
  }
  aside {
    display: flex;
    width: 20vw;
    background-color: navy;
    flex-direction:column;
    justify-content: center;
  }

  main {
    width: 80vw;
  }
  
 aside > h1,p { text-align: left;

  }

