body {
    display: flex;
    margin: 0;
  }
  main {
    width: 75vw;
  }
  aside {
    display: flex;
    background-color: rgb(28, 44, 63);
    justify-content:flex-end;
    width: 25vw;
    align-items:center;
  }
  section{
    margin-bottom: 40px;
  }
  .icon {
    border-radius: 100%;
    width: 40px;
    height: 30px;
    align-self: center;
  }
  .bottom-pictures {
    display: flex;
    justify-content: space-around;
  }
  main {
    margin: 25px;
  }
  .top-section {
    display: flex;
    justify-content: space-between;
  }
  .pic1 {
    width: 45%;
    object-fit: cover;
  }
  button {
    text-decoration: none;
    background-color: rgb(28, 44, 63);
    border-style: solid;
    border-color:  rgb(190, 222, 248);
  }
  button>a {
    color: white;
  }
  .button1 {
    margin-left: 8px;
  }
  .span1 {
    background-color: green;
    padding: 1px 5px;
    color: white;
  }
  .span2 {
    background-color: blue;
    padding: 1px 5px;
    color: white;
  }
  .span3 {
    background-color: red;
    padding: 1px 5px;
    color: white;
  }
  .span4 {
    background-color: gray;
    padding: 1px 5px;
    color: white;
  }
  .table {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgb(201, 209, 216);
  }
  .twitter{
    margin: auto 30px;
  }
  span {
  color: rgb(201, 209, 216);
  }
  hr{
    height: 1px;
    background-color: #ccc;
    border: none;
  }
  a, a:visited{
    color: rgb(22, 100, 168);;
    text-decoration:none;
  }
  .aside-info{
    margin-right: 15px;
    direction: rtl;
  }
  