html {
  overflow: auto;
  width: auto;
}

body {
  width: 100%;
  display: flex;
  margin: 0;
  overflow: auto;
  box-sizing: border-box;
}

main {
  display: flex;
  width: 80vw;
  margin: 10px;
  order: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

aside {
  display: flex;
  background-color: RGB(61, 79, 93);
  width: 20vw;
  font-size: 20px;
  padding: 20px;
  order: 0;
  color: aliceblue;
  align-items: center;
  direction: rtl;
  font-family: sans-serif;
}

h3 {
  font-weight: bolder;
}

h3 + p {
  color: rgba(93, 131, 138, 0.63);
}

aside a[href="#"] {
  padding: 5px;
  border: rgba(93, 131, 138, 0.63) solid 2px;
  margin: 5px;
  color: aliceblue;
  text-decoration: none;
  font-size: 10px;
}

h2 + p {
  margin: 0px;
}

span {
  color: lightgray;
  width: 100vw;
  font-size: 14px;
}

.spamDiv {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

p span {
  background: blue;
  color: white;
  border: none;
}

img[alt="avatar"] {
  width: 50px;
  height: 50px;
}

div img {
  display: flex;
  flex-flow: row nonwrap;
  align-items: baseline;
  width: 38vw;
  padding: 5px;
}
.row {
  display: flex;
}
.title {
  display: flex;
  justify-content: space-between;
}

.title img {
  border-radius: 50%;
}

h2 {
  margin: 0px;
  font-size: 30px;
}

#footer table {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}
