.App {
  font-family: sans-serif;
  text-align: center;
}
.blink {
  font-family: neon;
  animation: blinker 4s linear infinite;
  color: #1c87c9;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.blink-one {
  animation: blinker-one 1s linear infinite;
}
@keyframes blinker-one {
  0% {
    opacity: 0;
  }
}
.blink-two {
  animation: blinker-two 1.4s linear infinite;
}
@keyframes blinker-two {
  100% {
    opacity: 0;
  }
}

/* html,
body {
  background-color: yellow;
  margin: 0%;
  padding: 0%;
} */

#whiteText {
  color: blanchedalmond;
   text-decoration: none;
}
html,
#root {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(16, 0, 31);
  font-weight: bold;
  width: 100%;
  margin: 0;
}
#cardItem {
  height: 30rem;
  color: blanchedalmond;
}
#cardItem h4,
#cardItem,
#cardItem h5 {
  background-color: blanchedalmond;
  color: rgb(3, 2, 5);
  text-align: center;
}
#cardItemHover {
  background-color: blanchedalmond;
  height: 30rem;
}

a#btnCard {
  padding: 0.3rem 3.3rem;
  text-decoration: none;
  min-width: 90% !important ;
}

#btnCard {
  color: blanchedalmond;
  width: 90%;
  height: 50%;
  margin: 5%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3em;

  background-color: rgba(14, 41, 41, 0.808);
  border-color: transparent;
}
#movieTitleCard {
  height: 3rem;
  text-align: center;
}
#movieRateCard {
  margin-top: 1em;
}

#actorsRow {
  max-width: "60%";
  max-height: "20%";
}
.scrollbar {
  overflow: auto;
  white-space: nowrap;
}
h1,
#logo {
  color: blanchedalmond;
}

.footer {
  width: 70%;
}

#btn-link {
  background-image: linear-gradient(
    to right,
    rgb(77, 202, 52),
    rgb(46, 135, 250)
  );

  color: blanchedalmond;
  text-decoration: solid blanchedalmond;
}

#wishlist-button,
#dropdown-basic,
#dropdown-basic:focus {
  background-color: rgb(77, 202, 52);
  text-decoration: solid blanchedalmond;
  outline: none;
  color: blanchedalmond;
  border-color: rgb(77, 202, 52);
  text-decoration: none;
}

.btn-primary,
.btn-check:active + .btn-primary,
.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
  box-shadow: transparent;
}

.badge {
  background-color: rgb(77, 202, 52);
  border-radius: 15px;
  margin: 1%;
}
a {
  text-decoration: none;
}
