body {
    font-family: "Montserrat", sans-serif !important;
  }
  .navi {
    background-color: #343a40;
  }
  
  .divider {
    opacity: 0.2;
    height: 0.5px !important;
  }
  
  .new-wallet {
    background-color: #e8e8e8;
  }
  
  .currency {
    position: relative;
    width: 45%;
  }
  
  input {
    outline: none !important;
    box-shadow: none !important;
  }
  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .btn {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
  .btn:focus {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
  }
  ul {
    list-style-type: none;
  }
  
  #dated {
    height: 100% !important;
  }
  .descdrop{
    border: none;
  }
  .descdrop::after {
    display: none;
    content: none !important;

  }