.App {
  font-family: sans-serif;
  text-align: center;
}

.navDiv {
  display: flex;
}
Form {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.mr-sm-2 {
  margin-right: 10px;
}

.spinner {
  margin-right: 10px;
}
