.App {
  background-color: rgb(240, 245, 243);
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  color: rgb(202, 212, 207);
  background-color: #115233;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 100%;
  width: 100%;
}

.flex {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

a img {
  width: 20px;
  height: 20px;
}
.spin {
  display: none;
}

.d-flex {
  /* justify-content: space-between; */
  float: right;
  /* background: rgba(19, 35, 47, 0.9); */
  /* padding: 40px; */
  /* max-width: 600px; */

  margin: auto;
  /* border-radius: 4px; */
  /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
  margin-right: 20px;
}
.nav-flex {
  display: flex;
  justify-content: space-between;
}

#movies {
  background-color: rgb(240, 245, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 100%;
  height: 750px;
  margin: 5px;
  /* height: 300px; */
}
#Nav {
  height: 10%;
  display: flex;
}

#main {
  background-color: rgb(240, 245, 243);
  width: 100%;
  height: 80%;
}
#search-box {
  border: 1px solid green;
}
