::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.5);
}

.invoice-items {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
}

html {
    font-size: 20px;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}
